#overlay{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(119, 136, 153, 0.83);
  top: 0;
  z-index: 99;
  left: 0;
}
#drop-zone{
  color: rgba(255, 255, 255, 0.91);
  width: 80%;
  height: 50%;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: rgba(20, 51, 110, 0.6);
  border: 5px dashed white;

  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;

  &:hover {
    cursor: pointer;
    border-color: #10afe1;
  }


}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

main>.image{
  $size:200px;
  width:$size ;
  height:$size;
  border: 2px solid rgba(30, 144, 255, 0.75);
  border-radius: 5px;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

}
#camera{
  fill: #10afe1;
  margin-bottom: 6px;
}
#upload-btn{
  fill: white;
  margin-bottom: 4px;
}

/*==========================CSS-Loader==============================*/
.loader {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid lightgray;

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #10afe1;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


}