#overlay{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(104, 182, 104, 0.5);
  top: 0;
  z-index: 99;
  left: 0;
}
#drop-zone{
  color: #062515;
  border: 30px dashed #070303;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: rgb(255,255,255,0.2);

}

//main>img{
//  width: ;
//  background-color: ;
//}